@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FAF8F9;

}
a{
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    color: #121212;
    text-decoration: none;
}
a, h1, h2, h3, h4, h6{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Noto Sans', sans-serif;
}

.p-50{
    padding: 50px;
}
.p-90{
    padding: 90px;
}
.p-120{
    padding: 120px;
}
.pb-120{
    padding-bottom: 120px;
}
.pt-120{
    padding-top: 120px;
}

/* Navbar */
.btn-navbar{
    font-size: 18px;
    font-weight: 600;
    padding: 7px 15px;
}
.sign-up{
    background-color: #121212;
    color: white;
    border-radius: 16px;
    outline: 2px solid #121212;
}
.sign-up:hover{
    background-color: #fff;
    outline: 2px solid #121212;
}
.dropdown-toggle::after{
    content: none;
}

  /* LANDGING PAGE */
/* Header */
.smirnov-school,
.smirnov-school-2{
    position: absolute;
}
.smirnov-school{
    width: 6%;
    left: -5px;
    padding: 0;
}
.smirnov-school-2{
    width: 4%;
    left: 550px;
    bottom: 50px;
}

.content-header{
    padding-top: 80px;
}
.title-header{
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    color: #121212;
}
@media (max-width: 767.98px) { 
    header{
        padding-bottom: 150px;
    }
    .smirnov-school,
    .smirnov-school-2{
    display: none;
    }
    .header-jacol{
        flex-direction: column-reverse;
    }
    .banner-header{
        width: 100%;
    }
    .content-header{
        padding-top: 0;
    }
    .title-header{
        font-size: 50px;
    }
    .title-header::after{
        width: 94% !important;
        bottom: 29px !important;
    }
}

.title-header::after{
    content: "";
    display: block;
    z-index: -1;
    border: 8px solid #FFB93C;
    width: 83%;
    position: relative;
    bottom: 37px;
}
.text-header{
    width: 429px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(18, 18, 18, 0.75);
}

@media (max-width: 767.98px) { 
    .text-header{
        width: 100%;
    }
}
.btn-header{
    padding: 10px 35px;
    background-color: #121212;
    color: #fff;
    border-radius: 15px;
    outline: 1px solid #121212;
    margin-top: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-header:hover{
    background-color: #fff;
    outline: 1px solid #121212;
}

/* Section Mapel */
section#mapel {
    position: relative;
    bottom: 6rem;
}
#mapel .container{
    background:url(../images/mapels/bg-mapels.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    padding: 100px;
}
.sub-title{
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.22em;
}
.title-mapel{
    width: 359px;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    padding-top: 1.5rem;
}
.text-mapel{
    width: 370px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}
.btn-mapel{
    background: #FFB93C;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 3.5rem;
}
.card-mapel{
    width: 125px;
    height: 155px;
    background: #1B1A1A;
    border-radius: 10px;
    transition: transform .2s;
}
.card-mapel:hover{
    transform: scale(1.25);
}
.card-mapel a p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: auto;
}
.list-mapel{
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}
@media (max-width: 767.98px) { 
    #mapel .container{
        padding: 65px;
        background: url(../images/ranting_2.png) 100% 100% no-repeat;
        background-position: top right;
    }
    .title-mapel{
        width: 100%;
        padding-top: 0;
        font-size: 30px;
        line-height: 45px;
    }
    .text-mapel{
        width: 100%;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
    }
    .list-mapel{
        margin-top: 2rem;
        margin-left: 0;
    }
}

/* Section Peran */
.title-role{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
#heroes a img{
    width: 26%;
    position: relative;
}
.hero-1{
    bottom: 1.65em;
    left: 3.2em;
}
.hero-2{
    width: 23% !important;
    bottom: 1.1em;
    left: 1.5em;
}
.hero-3{
    bottom: 1.4em;
    left: 1.5em;
}
#heroes .active span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: white;
    line-height: 36px;
    padding: 17px 40px;
    border-radius: 0px 10px 10px 0px;
    background: #121212;
    float: right;
    margin-right: 4em;
}

.section-role .accordion{
    width: 300px;
}
.section-role .accordion-item {
    border: none;
    background: transparent !important;
}

.section-role .accordion-button {
    color: #121212;
    background-color: transparent;
    border: none !important;
    font-size: 18px;
    font-weight: 600;
    box-shadow: none;
}

.section-role .accordion-body {
    color: #121212;
    background-color: transparent;
    border: none !important;
    font-size: 16px;
    opacity: 0.75;
}

.section-role .accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.section-role .accordion-button.collapsed::after {
    background-image: url("../images/heroes/plus.svg");
}

.section-role .accordion-button:not(.collapsed)::after {
    background-image: url("../images/heroes/minus.svg");
    width: 15px;
    background-position: center;
}

.name-hero{
    padding: 50px 0;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
}
.name-hero::before{
    content: "KESATRIA";
    font-weight: 700;
    font-size: 96px;

    position: absolute;
    left: 50%;
    right: 50%;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    z-index: -1;
    text-shadow: 0.6px 0.6px 0 #6491EE, 0.6px -0.6px 0 #6491EE, -0.6px 0.6px 0 #6491EE, -0.6px -0.6px 0 #6491EE, 0.6px 0px 0 #6491EE, 0px 0.6px 0 #6491EE, -0.6px 0px 0 #6491EE, 0px -0.6px 0 #6491EE;
    color: #FAF8F9;
}


/* Section About Pengetahuan */
.svg-butterfly,
.svg-ranting{
    position: absolute;
}
.svg-ranting{
    left: -10px;
    top: 2026.87px;
}
.svg-butterfly{
    right: 50px;
    top: 2215.87px;
}
.about-pengetahuan{
    content: "";
    background: #29292B;
    border-radius: 0px 25px 25px 0px;
    height: 393px;
}
.img-about-pengetahuan{
    position: absolute;
    width: 533px;
    height: auto;
    top: 2045px;
    left: 80px;
 }
 .content-about-pengetahuan{
        padding-left: 150px;
 }
 .title-about-pengetahuan{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    width: 397px;
 }
.text-about-pengetahuan{
    width: 370px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}
.btn-about-pengetahuan{
    background: #FFB93C;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 3.5rem;
}

/* Section Benefits */
#benefits{
    background: url(../images/benefits/bg-benefit.png) no-repeat;
    background-size: 100%;
    background-position: 100% bottom;
    padding-top: 150px;
}
.title-benefit{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px; 
}

/* CARD BENEFIT */
.item-benefit-1{
    width: auto;
    height: 194px;
    border: none;
    border-radius: 5px;
    background: #FAF8F9;
    box-shadow: 1px 6px 30px 1px rgba(0, 0, 0, 0.1);
}
.card-title-benefit{
    padding-bottom: 0 !important;
}
.card-text-benefit{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}

.img-benefit{
    float: right;
}

    /* COURSE PAGE */
/* *JUMBOTRON */
#jumbotron {
    font-family: "Noto Sans", sans-serif;
}
.bg-jumbtron {
    background-image: url("../images/course_page/bg-jumbotron.png");
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2 !important;
}

.title-header-jumbotron{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 98px;
    z-index: 2 !important;
    padding: 165px 100px;
    width: 291px;
}
.line-yellow{
    border-bottom: 10px solid #FFB93C;
    line-height: 0.4em;
    display: inline-table;
}

.kursus-pilihan {
margin-top: 8rem;
font-weight: 700;
font-size: 32px;
line-height: 44px;
width: 620px;
color: #ffffff;
}
.play {
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: rgba(250, 248, 249, 0.75);
width: 520px;
}

.btn-play {
border-radius: 15px;
color: #2447f9;
font-weight: 600;
font-size: 20px;
transition: transform .1s;
background: #faf8f9;
}
.btn-play img{
    width: 9%;
    margin: auto 0;
}

.btn-play:hover {
    transform: scale(1.10);
    color: #2447f9;
}

@media (max-width: 575.98px) {
}

/* *SEARCH */
.search-1 {
    width: 550px;
    height: 45px;
    background: #FAF8F9;
    box-shadow: 6px 6px 25px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.search-1 img{
    width: 80%;
}
.search-1 input{
    background: #FAF8F9;
}
.search-1 input:focus{
    background: #FAF8F9;
    box-shadow: none;
}
.search-1 input::placeholder{
    color: rgba(18, 18, 18, 0.553);
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
/* SELECT */
.select {
    width: 182px;
    height: 45px;
    background: #faf8f9;
    box-shadow: 6px 6px 25px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

/* FILTER */
.filter {
width: 182px;
}
.belajar {
font-weight: 500;
font-size: 32px;
line-height: 48px;
}
.section-filter .relate {
color: rgba(18, 18, 18, 0.75);
font-weight: 400;
font-size: 16px;
line-height: 22px;
font-family: "Poppins", sans-serif;
}
.hasil {
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #2447f9;
font-family: "Noto Sans", sans-serif;
}
.tags{
    background: rgba(250, 248, 249, 0.75);
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.1);
}
.tags a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #121212;
}
.section-filter .tags .active{
    border-bottom: 2px solid #6491aa;
}
.section-filter .tags .active a{
    color: #6491aa;
}
/* *AKHIR SEARCH */

/* *KURSUS */
.section-kursus .container .col-md-4 .card .label {
position: absolute;
left: 20px;
top: 20px;
font-family: "Noto Sans", sans-serif;
font-size: 14px;
color: #faf8f9;
background-color: #2447f9;
border-radius: 7px;
width: 81px;
text-align: center;
}
.section-kursus .card {
background: #faf8f9;
box-shadow: 1px 6px 30px rgba(0, 0, 0, 0.1);
border-radius: 20px;
}
.title {
font-weight: 500;
font-size: 28px;
line-height: 38px;
}
.category {
color: #121212;
font-weight: 500;
font-size: 18px;
line-height: 25px;
}
.card-text {
font-weight: 400;
font-size: 16px;
line-height: 22px;
font-family: "Noto Sans", sans-serif;
color: rgba(18, 18, 18, 0.75);
margin-bottom: 80px;
}
.section-kursus .container .col-md-4 .card .d-flex a {
color: #faf8f9;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}
.btn-rules img{
    fill: #FAF8F9;
    color: #FAF8F9;
    margin-bottom: 5px;
    margin-right: 8px;
}
.btn-rules {
background-color: #ffb93c;
margin-left: 10px;
}
.btn-rules:hover {
background-color: #ffb93c;
color: #faf8f9;
}
.join {
background-color: #6491ee;
border-radius: 5px;
color: #faf8f9;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}

/*  */
.section-kursus .tag {
color: #121212;
letter-spacing: 0.32em;
font-weight: 300;
font-size: 18px;
line-height: 25px;
font-family: "Noto Sans", sans-serif;
}
.btn-all-kursus {
background: rgba(18, 18, 18, 0.1);
border-radius: 10px;
padding: 5px 30px;
}
.btn-all-kursus a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: rgba(18, 18, 18, 0.75);
}
.btn-all-kursus:hover {
background: rgba(18, 18, 18, 0.1);
}
.title-kursus {
font-weight: 700;
font-size: 32px;
line-height: 48px;
color: #121212;
font-family: "Poppins", sans-serif;
}
/* *SECTION PAGINATE */
.section-kursus select {
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #121212;
}
.section-kursus .paginate button {
width: 50px;
font-size: 16px;
font-weight: 600;
line-height: 22px;
opacity: 0.75;
background-color: #faf8f9;
border: 0.2px solid rgba(18, 18, 18, 0.5);
box-sizing: border-box;
box-shadow: 6px 6px 35px rgb(0 0 0 / 10%);
border-radius: 5px;
}
.section-kursus .paginate button.active-1 {
width: 50px;
font-family: "NotoSansSemiBold";
font-size: 16px;
line-height: 22px;
color: #6491ee;
opacity: 0.75;
background-color: #faf8f9;
border: 1px solid #6491ee;
box-sizing: border-box;
box-shadow: 6px 6px 35px rgb(0 0 0 / 10%);
border-radius: 5px;
}
.section-kursus .paginate button.active-2 {
width: 50px;
font-family: "NotoSansSemiBold";
font-size: 16px;
line-height: 22px;
color: #faf8f9;
opacity: 0.75;
background-color: #6491ee;
border: 1px solid #faf8f9;
box-sizing: border-box;
box-shadow: 6px 6px 35px rgb(0 0 0 / 10%);
border-radius: 5px;
}
/* *AKHIR SECTION PAGINATE */
/* *AKHIR KURSUS */

/* *TESTIMONIAL */
.section-testimonional {
background: url("../images/testimonials/bg-testimonial.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.card-text-testi {
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: rgba(18, 18, 18, 0.5);
}
.card-title-testimoni{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.nama {
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #121212;
}
.kelas {
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: rgba(18, 18, 18, 0.5);
}
/* *AKHIR TESTIMONIAL */

/* *HERO */
.ranting-1 {
    position: absolute;
    left: 814px;
    bottom: 0;
}
.ranting-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 3000px;
}
.ranting-2_1 {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 4382px;
}
.ranting-2_2 {
    position: absolute;
    left: -10px;
    top: 756px;
}
.ranting-3 {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 3240px;
}
.ranting-3_1 {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 4600px;
}
.ranting-3_2 {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 90px;
}
.ranting-3_3 {
    position: absolute;
    right: 0;
    top: 1050px;
}
.section-hero {
    background: url("../images/course_page/bg-hero.png");
    background-size:80%;
    background-position: center;
    background-repeat: no-repeat;
}
.img-hero {
    position: relative;
    left: -55px;
}
.detail-hero {
    margin-right: 200px;
    margin-top: 20px;
}
.detail-hero h1 {
    font-weight: bolder;
    font-size: 32px;
    line-height: 48px;

    color: #ffffff;
}
.detail-hero p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #ffffff;
}
.btn-hero {
    background: #ffb93c;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #121212;
}
.btn-hero:hover {
    background: #ffb93c;
    color: #121212;
}
/* *AKHIR HERO */

/* *SECTION SPONSOR */
.section-sponsors {
    background-color: rgba(18, 18, 18, 0.75) !important;
}
.section-sponsors img {
    padding: 35px;
}
/* *AKHIR SECTION SPONSOR */

/* *FOOTER */
footer {
    background-color: #121212;
    font-family: "Poppins", sans-serif;
    color: #faf8f9;
}
.container .row .logo-footer b {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #faf8f9;
    margin-left: 10px;
    position: relative;
    top: 5px;
}
.container .row .logo-footer p {
    margin-top: 30px;
    width: 300px;
}
footer ul li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #faf8f9;
    padding-left: 0;
    margin-top: 18px;
}
footer ul {
    padding-left: 0;
}
.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(250, 248, 249, 0.5);
    margin-top: 50px;
}
.img-footer {
    position: absolute;
    right: 0;
    margin-top: 32px;
}
  

  /* SIGN UP */
.img-daftar {
    padding: 0%;
}
.img-daftar img{
    height: 100vh;
    width: 100%;
}
.img-signup {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

    /* FORM DAFTAR */
.section-signup {
    font-family: "Poppins", sans-serif;
    }
    .form-daftar {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    background: url("/public/Assets/image/ranting-1.png");
    /* background-size: 100% 100%;
        display: block; */
    }
    .title-daftar h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #121212;
    }
    .title-daftar p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(18, 18, 18, 0.75);
    }
    .input-form,
    button,
    .form-isi {
    background: #e9eff6;
    border-radius: 10px;
    }
    .daftar {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    background: #2447f9;
    box-shadow: 0px 4px 4px rgba(100, 145, 238, 0.25);
    border-radius: 10px;
    }
    
    .masuk {
    text-decoration: none;
    color: #2447f9;
    font-weight: 400;
    }
    
      /* SIGN IN */
    .section-sign {
    font-family: "Noto Sans", sans-serif;
    }
    .img-login {
    padding: 0%;
    }
    .img-login img {
    height: 100vh;
    width: 100%;
    }
    .forgot-pw {
    text-decoration: none;
    color: #12121280;
    float: right;
    font-size: 13px;
    }
    .opsi-masuk {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(18, 18, 18, 0.5);
    }
    .btn-optional{
        display: flex;
        justify-content: center;
        flex-direction: row;
        column-gap: 20px;
    }
    .btn-opsi-masuk, .btn-opsi-masuk-2 {
    border: 0.5px solid rgba(18, 18, 18, 0.5);
    border-radius: 8px;
    }
    .btn-opsi-masuk img{
        width: auto;
        height: 30px;
    }
    .btn-opsi-masuk-2 img{
        width: auto;
        height: 30px;
        position: relative;
        bottom: 2px;
    }

    /* Section About Page */
    .section-about-page{
        background: url(../images/about_page/bg-about.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .header-about{
        width: 550px;
        margin-left: 200px;
    }

    .title-about-jcl{
        width: 327px;
    }
    .title-about-jcl p span{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
    }
    .title-about-jcl h2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
    }

    .content-about-jcl h6{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }

    .goal-about-jcl h6{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 50px;
    }

    .goal-item-jcl img {
        margin-bottom: 37px;
        margin-right: 10px;
    }

    /* Section Developers Jacol */
    .developer-jcl{
        width: 800px;
        margin-left: 200px;
    }
    .developer-jcl h6{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    .developer-jcl .col-md-4 .developer{
        width: 212px;
        height: 260px;
    }
    .profile-dev h5{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 125.5%;
        margin-top: 1em;
    }
    .sosmed-dev a{
        margin-right: 10px;
    }

    /* Section Not Found */
    .section-notfound{
        padding: 100px 0px;
    }
    .content-notfound{
        margin: auto 0;
    }
    .content-notfound h1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 25px;
    }
    .content-notfound p{
        width: 450px;
        margin-top: 3rem;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;

        /* Sub Dark 50 */

        color: rgba(18, 18, 18, 0.5);
    }
    .btn-notfound{
        background-color: #6491EE;
        border-radius: 10px;
        color: #fff;
        padding: 8px 23px;
        margin-top: 1rem;
    }